.bg-img {
    /* The image used */
    background-image: url("./bgimg.jpg");
  
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  .heading{
   margin-top: 10%;
   font-family: 'RocknRoll One', sans-serif;
   color:  #ec7063 ;
   font-size: 60px;
   font-weight: 600;
   text-shadow: #333;
   
 }
.navbar-custom {
    background-color: #4f4d32;
}
